*{
    margin: 0;
    padding: 0;
}

#scrolling-container::-webkit-scrollbar{
    display: none;
}

#scrolling-container{
    height: 76vh;
    position: relative;
    justify-self: center;
    width: 88%;
    display: flex;
    overflow-y: scroll;
    align-items: start;
    justify-content: center;
    gap: 0.1em;
    color: aliceblue;
    border-radius: 1em;
}

#scrolling-container img{
    position: sticky;
    top: 0em;
    width: 60%;

}

#scrolling-discription{
    display: flex;
    width: 40%;
    height: 45em;
    background-image: linear-gradient(45deg,gray,white);
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 2em;
    padding: 3em;
    color: black;
    }

#scrolling-discription #first{
    position: sticky;
    top: 25%;
    opacity: 0%;
    animation: event-slider 2s cubic-bezier(0.42, 0, 0.49, 1.75);
    animation-timeline: scroll();

}
#scrolling-discription #socond{
    position: sticky;
    top: 55%;
    opacity: 0%;
    animation: event-slider 2s cubic-bezier(0.42, 0, 0.49, 1.75) ;
    animation-delay: 2s;

    animation-timeline: scroll();

}
#scrolling-discription #third{
    position: sticky;
    top: 95%;
    opacity: 0;
    animation: event-slider 2s cubic-bezier(0.42, 0, 0.49, 1.75) ;
    animation-delay: 5s;
    animation-timeline: scroll();

}

#scrolling-discription #forth{
    position: sticky;
    top: 42%;
    opacity: 0;
    animation: event-slider 2s cubic-bezier(0.42, 0, 0.49, 1.75) ;
    animation-delay: 5s;
    animation-timeline: scroll();

}


@keyframes event-slider{
    to{transform: translateY(-2em);opacity: 100%;}
}


